* {
    margin: 0px;
    padding: 0px;
}

.game_field {
    width: 600px;
    height: 360px;
    background-image: url(./images/s1200.jpeg);
    text-align: center;
    padding-top: 160px;
}


.cross {
    background-image: url(./images/cross.png);
    background-size: cover;
    width: 50px;
    height: 50px;
}

.circle {
    background-image: url(./images/circle.png);
    background-size: cover;
    width: 50px;
    height: 50px;
}

.game_cell {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    transition: 0.3s all;
}

.game_cell:hover {
    background-color: #6c6c6c;
    opacity: 0.5;
    transition: 0.3s all;
}

.button {
    cursor: pointer;
    padding: 12px 60px;
    background-color: #578ff1;
    font-size: 18px;
    color: white;
    border: none;
    outline: none;
    border-radius: 3px;
}